body {
  background-color: black;
  color: white;
  padding: 5vw;
}

button {
  background-color: #3d406c;
  color: white;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

input,
textarea {
  color: #000;
}

#accordion {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  left: 2%;
  padding: 10px;
  background-color: rgba(80, 75, 121, 0.8);
  border-radius: 10px;
}

#conversation-label {
  cursor: pointer;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  align-self: flex-start;
}

#conversation-label:hover {
  color: #333;
}

#conversation-title {
  height: 48px;
  min-height: fit-content;
  overflow-y: visible;
  cursor: pointer;
}

#conversations {
  overflow-y: auto;
  width: 100%;
  flex-grow: 1;
  display: none; /* Hide initially */
  width: 300px; /* Adjust as needed */
  min-width: fit-content;
  height: 400px; /* Adjust as needed */
}

#conversation-list {
  list-style-type: none;
  padding: 0;
  list-style: none;
  padding: 10px;
}

#conversation-list li {
  padding: 10px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  position: relative;
}

#conversation-list li:hover {
  color: #bdc5e3;
}

#conversation-list li .delete-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgba(81, 77, 77, 0.528);
  color: white;
  padding: 0 10px;
  margin-left: 0px;
  border: none;
  cursor: pointer;
  outline: none;
}

#conversation-list li .delete-btn:hover {
  background-color: rgba(81, 77, 77, 0.822);
}

.row-center {
  display: flex;
  justify-content: center;
}

select {
  color: black;
}

#textPrompt {
  resize: none;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  box-sizing: border-box;
}

#image-input {
  color: white;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.status-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(81, 77, 77, 0.8);
  border-radius: 5%;
  color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  margin: 10px;
  width: 150px;
  height: 30px;
}

.loading-message {
  animation: flash 2s infinite;
}

.user-message {
  color: #bdc5e3;
  text-align: right;
}

.user-message pre {
  border-radius: 5px;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Railway", sans-serif;
}

.gpt-message {
  text-align: left;
  /* color: #e4d8fc; */
}

.gpt-message pre,
.gpt-message code {
  background-color: #1e1e1e;
  color: #f8f8f2;
  border-radius: 5px;
  padding: 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#chatLog {
  display: flex;
  flex-direction: column;
  height: 50vh;
  overflow-y: scroll;
  border: 1px solid white;
  padding: 20px;
}

#chatLog::-webkit-scrollbar {
  width: 10px;
}

#chatLog::-webkit-scrollbar-thumb {
  background: #888;
}

#chatLog::-webkit-scrollbar-thumb:hover,
#chatLog::-webkit-scrollbar-thumb:active,
#chatLog::-webkit-scrollbar-thumb:window-inactive {
  background: #555;
}

#chatLog::-webkit-scrollbar-track,
#chatLog::-webkit-scrollbar-corner,
#chatLog::-webkit-scrollbar-button,
#chatLog::-webkit-scrollbar-button:hover,
#chatLog::-webkit-scrollbar-button:active {
  background: #f1f1f1;
}
